body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f4f4f4;
}

.title {
    color: #fff;
    background-color: #333;
    padding: 10px;
}

.container {
    border-collapse: collapse;
    margin: 20px auto;
    width: 300px;
}

.container td {
    padding: 0;
}

#result {
    width: 270px;
    padding: 15px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
}
.buton {
    width: 75px;
    height: 75px;
    font-size: 24px;
    cursor: pointer;
    background-color: #d4d4d2;
    border: 1px solid #999;
}

.buton:active {
    background-color: #b2b2b1;
}

.unu, .doi, .trei, .patru, .cinci, .sase, .sapte, .opt, .noua, .zero, .punct, .plus {
    background-color: #d4d4d2;
}

.sterge {
    background-color: #ff5c5c;
    color: #fff;
}

.egal {
    background-color: #ff9500;
    color: #fff;
}

.minus, .inmultit {
    background-color: #ff9500;
    color: #fff;
}

.plus {
    background-color: #ff9500;
    color: #fff;
}